[mysqld]
user = root
datadir = /app/mysql
port = 3306
log-bin = /app/mysql/mysql-bin
socket = /run/mysqld/mysqld.sock

#新数据表的默认存储引擎
default-storage-engine = InnoDB

#这个参数是InnoDB存储引擎的核心参数，默认为128KB，这个参数要设置为物理内存的60%～70%。
innodb_buffer_pool_size = 4G 

#设置最大连接（用户）数
max_connections=1000

#设置utf8字符
init_connect='SET NAMES utf8'
  
#允许最大接收数据包的大小
max_allowed_packet = 500M

#mysql打开最大文件数
open_files_limit = 65535 

#参数禁用DNS的主机名解析功能，禁用该功能后，在MySQL授权表里面，你只能使用IP地址
#skip-name-resolve

#
wait_timeout = 288000

[mysqldump]
quick
max_allowed_packet = 2G
